<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [showUnits]="false"
            [title]="'Html'"
            [titleColor]="'#444444'"
            [showUnits]="false"
            [showSubtitle]="false"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [lazy]="true"
        ></circle-progress></div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
                [percent]="90"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'IMGHYS/html.jpg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidht]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [lazy]="true"
        ></circle-progress></div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
                [percent]="90"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'IMGHYS/html.jpg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidht]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [lazy]="true"
        ></circle-progress></div>
            
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
                [percent]="90"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'IMGHYS/html.jpg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidht]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [lazy]="true"
        ></circle-progress></div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
                [percent]="90"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'IMGHYS/html.jpg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidht]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [lazy]="true"
        ></circle-progress></div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
                [percent]="90"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'IMGHYS/html.jpg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidht]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [lazy]="true"
        ></circle-progress></div>
</div>
