<div class="todo">
<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
            <h3> <strong> Licenciatura en Sociología </strong></h3> - <h5>(UNIVERSIDAD NACIONAL DE LA PLATA)</h5><h5>2013-Actualidad</h5>
            </li>
            <p>Realizando la tesina de la carrera de Licenciatura en Sociología. Manejo de instrumento de análisis cuantitativo SPSS. Manejo de instrumento de análisis cualitativo Atlas.ti.</p>
            
        </ul>
        <ul>
            <li>
            <h3> <strong> Título Secundario: Técnico electromecánico</strong></h3> - <h5> (ESCUELA TÉCNICA N° 1 DE ROJAS)</h5>
            <h5>2008</h5>
            </li>
            <p></p>
            
        </ul>
        <ul>
            <li>
            <h3> <strong>Título internacional de inglés B1 Preliminary</strong></h3> - <h5>(CAMBRIDGE)</h5> <h5>2009</h5>
            </li>
            <p>Titulo de ingles nivel B1.</p>
            
        </ul>

        <ul>
            <li>
            <h3> <strong>Instituto SICOS </strong></h3> - <h5>2018</h5>
            </li>
            <p>Curso básico en el cual me introduje en la logica de programación .</p>
            
        </ul>

        <ul>
            <li>
            <h3> <strong>Extras </strong></h3>
            </li>
            <li>
            <p>Diplomatura en estudios de hegemonía, geopolítica y comunicación.</p> <h5>(Universiad Plurinacional de Patria Grande)</h5><h5>2021</h5>
        </li>
        <li>
            <p>Curso de posgrado Sociología de la tecnología.</p> <h5>(Universiad Nacional de Rio Negro)</h5> <h5>2022</h5>
        </li>
        </ul>

    </div>
    
</div>
</div>

